* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* =========================
   HEADER / NAV
========================= */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Navbar básica */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3498db;
  font-family: Arial, sans-serif;
}

.navbar .logo h1 {
  margin: 0;
  color: white;
}

/* Menú principal */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu>li {
  position: relative;
  margin-left: 20%;
  justify-content: flex-end;
}

.menu>li>a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.menu>li>a:hover {
  background-color: #2980b9;
}

/* Submenú oculto por defecto */
.submenu {
  display: none;
  position: absolute;
  top: 0%;
  right: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #2980b9;
  min-width: 150px;
  z-index: 10;
}

.submenu li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #1f618d;
}

/* Mostrar submenú al hacer hover */
.menu>li.dropdown:hover .submenu {
  display: flex;
}

.menu>li.dropdown>a::before {
  content: "▼";
  font-size: 12px;
  margin-right: 8px;
}

/* =========================
   HERO / INICIO
========================= */
.inicio {
  position: relative;
  height: 60vh;
  /* ocupa toda la pantalla */
  width: 100%;
  overflow: hidden;
}

/* Video de fondo */
.inicio-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* mantiene proporción y llena pantalla */
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Contenido sobre el video */
.inicio-content {
  opacity: 0;
  position: relative;
  text-align: center;
  top: 50%;
  transform: scale(0.6);
  color: white;
  padding: 0 20px;
  animation: aparecerZoom 1.2s ease forwards;
}

@keyframes aparecerZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.inicio-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.inicio-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.inicio-content .btn {
  text-decoration: none;
  background-color: #ffeb3b;
  color: #333;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.inicio-content .btn:hover {
  background-color: #f1c40f;
}

/* =========================
   COMO FUNCIONA
========================= */
.como-funciona {
  padding: 80px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.como-funciona h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.como-funciona .etiqueta {
  display: inline-block;
  background-color: #eaf2fb;
  color: #3498db;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 15px;
}

.como-funciona .intro {
  max-width: 600px;
  margin: 0 auto 50px;
  color: #666;
  font-size: 18px;
}

/* =========================
   Lista
========================= */
.ventajas {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.ventajas li {
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 20px;
}

/* Contenedor de cards */
.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card individual */
.card {
  background-color: white;
  width: 30%;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin-bottom: 15px;
  color: #3498db;
}

.card p {
  font-size: 16px;
  color: #555;
}

.card i {
  width: 70px;
  height: 70px;
  background-color: #eaf2fb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #3498db;
  margin: 0 auto 20px;
}

/* =========================
   Galeria-Profesores
========================= */

.galeria-profesores {
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;
}

.galeria-profesores h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.galeria {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Profesor */
.profesor {
  width: 280px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Imagen */
.profesor img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profesor:hover {
  transform: scale(1.05);
}

/* Texto */
.profesor figcaption {
  padding: 15px;
}

.profesor h3 {
  margin-bottom: 10px;
  color: #3498db;
}

.profesor p {
  font-size: 15px;
  color: #555;
}

/* =========================
   Carrusel
========================= */
.carrusel {
  max-width: 1000px margin 0 auto;
  overflow: hidden;
}

.carrusel-track {
  display: flex;
  gap: 20px;
  animation: scrollInfinito 40s linear infinite;
}

.carrusel-track img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes scrollInfinito {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* =========================
   SERVICIOS
========================= */


.servicios {
  padding: 60px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.servicios h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* =========================
   Resaltado Tabla
========================= */

.resaltado {
  background-color: #fff3cd !important;
  transition: background-color 0.3s ease;
}

/* =========================
  Tabla
========================= */
.contenedor-tabla {
  overflow-x: scroll;
}

.tabla-servicios {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tabla-servicios th,
.tabla-servicios td {
  padding: 15px;
  border: 1px solid #ddd;
  width: 21%;
}

.tabla-servicios th {
  background-color: #3498db;
  color: white;
}

.tabla-servicios tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-servicios i {
  margin-right: 8px;
  color: #3498db;
}

.servicios-contenido {
  margin-top: 50px;
}

/* =========================
   CONTACTO
========================= */

.contacto {
  padding: 60px 20px;
  background-color: white;
  text-align: center;
  display: flex;
}

.contacto h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* =========================
   Formulario
========================= */
.formulario-contacto {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 400px;
  margin-bottom: 20px;
}

.formulario-contacto label {
  text-align: left;
  font-weight: bold;
}

.formulario-contacto input,
.formulario-contacto select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-contacto button {
  margin-top: 10px;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.formulario-contacto button:hover {
  background-color: #2980b9;
}

/* =========================
   FOOTER
========================= */

.footer {
  color: white;
  background-color: #2c3e50;
  text-align: center;
  padding: 15px;
}

.footer a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.footer .social-container a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer .social-container a:hover {
  transform: scale(1.30);
  color: #f1c40f;
}

.footer p {
  padding-bottom: 15px;
}

.footer .ministerio {
  margin-top: 15px;
  font-size: 14px;
}

.footer .ministerio a {
  color: #f1c40f;
  text-decoration: none;
}

.footer .ministerio a:hover {
  text-decoration: underline;
}

.volver-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 50%;
  border-color: #2980b9;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.volver-arriba:hover {
  background-color: #2980b9;
}


.Rss {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 400px;
}

/* =========================
   RESPONSIVE
========================= */
/* TABLET */
@media (max-width: 1024px) {
  .card {
    width: 45%;
  }

  .inicio-content h1 {
    font-size: 36px;
  }

  .contacto {
    display: block;
  }
}

/* MÓVIL */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .menu>li {
    margin-left: 0;
  }

  /* Mostrar submenú al hacer hover */
  .menu>li.dropdown:hover .submenu {
    display: block;
    top: 100%;
    left: -25%;
    text-align: center;
  }

  .card {
    width: 100%;
  }

  .inicio {
    height: 50vh;
  }

  .inicio-content h1 {
    font-size: 28px;
  }

  .contacto {
    display: block;
  }

  .ventajas {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}